<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <display-name>Apache-Axis</display-name>
    <servlet>
        <display-name>Apache-Axis Servlet</display-name>
        <servlet-name>AxisServlet</servlet-name>
        <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>Axis Admin Servlet</display-name>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>org.apache.axis.transport.http.AdminServlet</servlet-class>
        <load-on-startup>100</load-on-startup>
    </servlet>
    <servlet>
        <display-name>SOAPMonitorService</display-name>
        <servlet-name>SOAPMonitorService</servlet-name>
        <servlet-class>org.apache.axis.monitor.SOAPMonitorService</servlet-class>
        <init-param>
            <param-name>SOAPMonitorPort</param-name>
            <param-value>5101</param-value>
        </init-param>
        <load-on-startup>100</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>/servlet/AxisServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>*.jws</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SOAPMonitorService</servlet-name>
        <url-pattern>/SOAPMonitor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/servlet/AdminServlet</url-pattern>
    </servlet-mapping>
    <!--<servlet-mapping>-->
        <!--<servlet-name>Impl.ImgServiceImpl</servlet-name>-->
        <!--<url-pattern>/ImgServiceImpl</url-pattern>-->
    <!--</servlet-mapping>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>ImgServiceImpl</servlet-name>-->
        <!--<url-pattern>/servlet/ImgServiceImpl</url-pattern>-->
    <!--</servlet-mapping>-->
    <filter>
        <filter-name>CharsetEncodingFilter</filter-name>
        <filter-class>filter.CharsetEncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CharsetEncodingFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>InsertImgServlet</servlet-name>
        <servlet-class>servlet.InsertImgServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertImgServlet</servlet-name>
        <url-pattern>/insertImg</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ImageSaveServlet</servlet-name>
        <servlet-class>servlet.ImageSaveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImageSaveServlet</servlet-name>
        <url-pattern>/ImageSaveServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ImageSaveServlet1</servlet-name>
        <servlet-class>servlet.ImageSaveServlet1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImageSaveServlet1</servlet-name>
        <url-pattern>/ImageSaveServlet1</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ImgSavecontentServlet</servlet-name>
        <servlet-class>servlet.ImgSavecontentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImgSavecontentServlet</servlet-name>
        <url-pattern>/ImgSavecontentServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ImgServlet</servlet-name>
        <servlet-class>servlet.ImgServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImgServlet</servlet-name>
        <url-pattern>/ImgServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>servlet.registerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginOutServlet</servlet-name>
        <servlet-class>servlet.LoginOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginOutServlet</servlet-name>
        <url-pattern>/LoginOutServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <servlet-class>cn.itcast.vcode.servlet.VerifyCodeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <url-pattern>/VerifyCodeServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>upload folder</param-name>
        <param-value>upload</param-value>
    </context-param>
    <mime-mapping>
        <extension>wsdl</extension>
        <mime-type>text/xml</mime-type>
    </mime-mapping>
</web-app>